.form-control.error {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgba(232, 25, 21, 0.87);
    border-color: transparent;
}
.form-control.error::-webkit-input-placeholder       {text-indent: 0;   transition: text-indent 0.3s ease;}
.form-control.error::-moz-placeholder                {text-indent: 0;   transition: text-indent 0.3s ease;}
.form-control.error:-moz-placeholder                 {text-indent: 0;   transition: text-indent 0.3s ease;}
.form-control.error:-ms-input-placeholder            {text-indent: 0;   transition: text-indent 0.3s ease;}
.form-control.error:focus::-webkit-input-placeholder {text-indent: -500px; transition: text-indent 0.3s ease;}
.form-control.error:focus::-moz-placeholder          {text-indent: -500px; transition: text-indent 0.3s ease;}
.form-control.error:focus:-moz-placeholder           {text-indent: -500px; transition: text-indent 0.3s ease;}
.form-control.error:focus:-ms-input-placeholder      {text-indent: -500px; transition: text-indent 0.3s ease;}

/*    --------------      */

.background-company img {
    padding: 40px;
}
.avatar-view.background-company {
    margin: 0 auto;
}

.change_content_button{
    height: 55px;
    width: 55px;
    padding: 6px;
    background: rgba(25, 177, 122, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    cursor: pointer;
}
.change_content_button:hover{
    background: #19d79a;;
}
.change_content_button img{
    height: 44px;
}