/*

1, 2, 3, 5, 8, 13, 16, 21, 26, 34, 42, 55, 68, 89, 110, 144, 178, 233, 288, 377, 610, 987, 1597, 2584

*/
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=cyrillic');

@font-face {
    font-family: 'ProximaReg';
    src: url('fonts/ProximaNova-Reg.otf');
}
@font-face {
    font-family: 'ProximaBold';
    src: url('fonts/ProximaNova-Bold.otf');
}
@font-face {
    font-family: 'ProximaBlack';
    src: url('fonts/ProximaNova-Black.otf');
}
@font-face {
    font-family: 'ProximaSemiBold';
    src: url('fonts/ProximaNova-Sbold.otf');
}
@font-face {
    font-family: 'ProximaLight';
    src: url('fonts/ProximaNova-Light.otf');
}
@font-face {
    font-family: 'CharterC';
    src: url('fonts/CharterC.otf');
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    transition: .3s;
    box-sizing: border-box;
}
header section{
    padding-top: 55px !important;
}
img{
    vertical-align: bottom;
    width: 100%;
    object-fit: cover;
}
h1,h2,h3,h4,h5,h6,p{
    color:#253147;
    font-family: 'ProximaReg';
}
p{
    font-size: 16px;
}
.clearfix{
    clear: both;
}
.padding-0-55{
    padding: 0 55px;
}

/*
    |-------------------------------------------------
    |------             HEADER             -----------
    |-------------------------------------------------
*/

header .header-logo,
header .header-search,
.header-search form{
    float: left;
}
header .burger-menu{
    float: right;
}
.header-search form input{
    width: 0;
    border: none;
    background-color: #e6e6e6;
}
.header-search img{
    cursor: pointer;
}
header.company{
    height: 800px;
    background-size: cover !important;
    min-height: 377px;
}
.header-search img,
.header-logo img,
.burger-menu img{
    border: 2px solid white;
}
.header-search img{
    border-left: none;
}
header .language{
    border-right: none;
}
/*
    |-------------------------------------------------
    |------          MAIN WRAPPER          -----------
    |-------------------------------------------------
*/

.post.col-3{
    width: calc((100% - 42px)/3);
    float: left;
    background-color: rgba(250,250,250,1);
    margin-top: 55px;
}
.post.col-3:nth-child(3n+2){
    margin: 55px 21px 0;
}
.post-img{
    margin-bottom: 5px;
    overflow: hidden;
    cursor: pointer;
}
.post-img:hover img{
    transform: scale(1.05);
    transition: .5s;
}
.post-img img{
    transform: scale(1);
    height: 372px;
    transition: .5s;
}
.post-gallery .col-3{
    width: calc((100% - 10px) / 3);
    float: left;
    overflow: hidden;
}
.post-gallery .col-3:nth-child(2){
    margin: 0 5px;
}
.post-gallery .col-3 img{
    height: 126px;
    cursor: pointer;
    transform: scale(1);
    transition: .5s;
}
.post-gallery .col-3 img:hover{
    transform: scale(1.05);
    transition: .5s;
}
.post-description{
    padding: 34px 34px 42px 34px;
}
.post-description h5{
    font-family: 'PT Serif', serif;
    font-size: 34px;
}
.post-description h6{
    font-size: 21px;
    color: #19cb8d;
    font-family: 'ProximaSemiBold';
}
.post-description p{
    margin-top: 24px;
    font-family: 'ProximaLight';
    height: 74px;
    overflow: hidden;
    font-size: 21px;
}
.architects-decription p{
    font-size: 21px;
    position: relative;
    /*max-height: 275px;*/
    /*overflow: hidden;*/
}
.architects-decription,
.architects-contact{
    height: auto;
}
.project-company img{
    /*height: 400px;*/
    height: auto;
}
.owl-carousel,
.project-carusel .owl-carousel.loop img{
    min-height: 377px;
    overflow: hidden;
    transition: 0s;
}
#owl-example .owl-item{
    transition: 0s;
}
.owl-controls .owl-nav .owl-prev,
.owl-controls .owl-nav .owl-next{
    position: absolute;
    z-index: 80;
    height: 68px;
    width: 68px;
    color: transparent;
    top: 50%;
    cursor: pointer;
    opacity: 0.7;
}
.project-carusel:hover .owl-controls .owl-nav .owl-prev,
.project-carusel:hover .owl-controls .owl-nav .owl-next{
    display: block !important;
}
.owl-controls .owl-nav .owl-prev:hover,
.owl-controls .owl-nav .owl-next:hover{
    opacity: 1;
}
.owl-controls .owl-nav .owl-prev{
    position: absolute;
    background: url("../svg/nav-prew.svg");
    left: 55px;
}
.owl-controls .owl-nav .owl-next{
    background: url("../svg/nav-next.svg");
    position: absolute;
    right: 55px;

}
/*Burger menu*/


.slide-burger-menu{
    top: 0;
    position: fixed;
    right: 0;
    width:0;
    bottom: 0;
    background: #263248;
    z-index: 20;
}
.slide-burger-menu.active{
    width: 34%;
}
.slide-burger-menu .menu{
    padding: 55px;
}
.slide-burger-menu .button-follow a{
    margin: 55px auto 0;
    display: table;
    line-height: 68px;
    border-radius: 45px;
    font-size: 34px;
}

.slide-burger-menu ul{
    margin: 0;
    list-style: none;
    text-align: center;
}
.slide-burger-menu ul li{
    margin-top: 55px;
}
.slide-burger-menu ul li:first-child{
    margin-top: 178px;
}
.slide-burger-menu ul li a{
    color: #e6e6e6;
    font-size: 34px;
    text-decoration: none;
    font-family: 'PT Serif', serif;
}
.slide-burger-menu ul li a:hover{
    color: #19cb8d;
}
.burger-menu{
    border: 2px solid white;
    background-color: #e6e6e6;
    position: relative;
    z-index: 50;
}
.burger-menu.active{
    border: 2px solid #e6e6e6;
    background-color: transparent;
    position: fixed;
    top: 55px;
    right: 55px;
}

.menu-trigger {
    width: 41px;
    height: 41px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin: 24px;
}
.menu-trigger .line {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: #fff;
}

.menu-trigger.second {
    transition: all 0.5s 0s;
}
.menu-trigger.second .line {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: #263248;
    transition: 0.3s;
}
.menu-trigger.second .line.line-1 {
    transition: all 0.3s 0.3s, transform 0.3s 0s;
}
.menu-trigger.second .line.line-2 {
    top: 50%;
    margin-top: -1px;
    left: 0;
    transition: all 0.3s 0.3s;
}
.menu-trigger.second .line.line-3 {
    bottom: 0;
    top: auto;
    left: 0;
    transition: all 0.3s 0.3s, transform 0.3s 0s;
}
.menu-trigger.second.active {
    transform: rotate(135deg);
    transition: all 0.5s 0.3s;
}
.menu-trigger.second.active .line{
    background: #e6e6e6;
}
.menu-trigger.second.active .line-1 {
    top: 50%;
    margin-top: -1px;
    transform: rotate(90deg);
    transition: all 0.3s, transform 0.3s 0.3s;
}
.menu-trigger.second.active .line-2 {
    opacity: 0;
    transition: all 0.3s, opacity 0.3s 0s;
}
.menu-trigger.second.active .line-3 {
    bottom: 50%;
    margin-bottom: -1px;
    transform: rotate(0deg);
    transition: all 0.3s, transform 0.3s 0.3s;
}



.change_content_button{
    height: 55px;
    width: 55px;
    padding: 6px;
    background: rgba(25, 177, 122, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 400;
    cursor: pointer;
}
.change_content_button:hover{
    background: #19d79a;;
}
/*PAGINATION*/

section .pagination{
    display: table;
    margin: 144px auto;
    list-style: none;
}
.pagination li{
    cursor: pointer;
    float: left;
    border: 1px solid transparent;
    background: none;
    font-size: 21px;
    /*line-height: 55px;*/
    /*width: 55px;*/
    text-align: center;
    font-family: 'PT Serif', serif;
    box-sizing: border-box;
    color:#253147;
    transition: .4s;
}
.pagination li a,
.pagination li span{
    display: inline-block;
    width: 55px;
    line-height: 55px;
}
.pagination li a{
    text-decoration: none;
    color: #253147;
}
.pagination li:hover{
    border: 1px solid #253147;
    transition: .4s;
}
.pagination li.active{
    border: 1px solid #253147;
    background: #253147;
    color: #fff;
}
.pagination li:first-child,
.pagination li:last-child{
    display: none;
}
.post-description a{
    text-decoration: none;
    color: #19cb8d;
    display: table;
}
.post-description a:hover h5,
.post-description a:hover h6
{
    opacity: 0.61;
}


/*Page Company*/
.architecture-company{
    padding: 42px 55px;
}
.company-header{
    float: left;
}
.company-header h3{
    font-family: CharterC;
    font-size: 34px;
    padding-bottom: 5px;
}
.company-header h4{
    color: #abb2ba;
    font-size: 21px;
}
.company-header h4 a{
    color: #abb2ba;
    text-decoration: none;
}
.company-header h4 a:hover{
    text-decoration: underline;
}
.architecture-company .button-follow{
    float: right;
}
.button-follow a{
    border: 2px solid #19cb8d;
    font-family: 'ProximaBold';
    font-size: 21px;
    color: #19cb8d;
    padding: 0 34px;
    line-height: 55px;
    border-radius: 35px;
    display: block;
    text-decoration: none;
}
.button-follow a:hover{
    color: #fff;
    background-color: #19cb8d;
}
.about-company{
    border: 2px solid #e5e5e5;
    border-right: 0;
    border-left: 0;
    box-sizing: border-box;
    /*height: 400px;*/
}
.about-company img{
    height: 396px;
}
.architects-img,
.architects-decription{
    float: left;
    box-sizing: border-box;
}
.architects-contact{
    float: right;
    box-sizing: border-box;
}
.architects-img{
    width: 33.3%;
    /*border-right: 2px solid #e5e5e5;*/
}
.architects-decription{
    width: 41.4%;
    border-right: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
}
.architects-contact{
    width: 25.3%;
}
.architects-decription,
.architects-contact{
    padding: 53px 55px;
    font-size: 21px;
    font-family: 'ProximaLight';
    min-height: 396px;
}
section.more-projects{
    padding-bottom: 144px;
}
.architects-contact span{
    font-family: 'ProximaSemiBold';
    padding-top: 24px;
}
span.more{
    color: #aab1b7;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    background: white;
    min-width: 100px;
    display: table;
    right: 0;
    padding-left: 10px;
}
.more_text,.hide_text{
    color: #aab1b7;
    cursor: pointer;
    padding-left: 5px;
}
.architects-contact a{
    text-decoration: none;
    color: #222;
}
.architects-contact a:hover{
    color:#19cb8d;
}

/*Project Page*/
header .project-carusel{
    padding-top: 0;
    overflow: hidden;
}
.project-company h4 a{
    text-decoration: none;
    color: #19cb8d;
}
.project-company h4 a:hover{
    color: #19ae71;
}
.about-project,
.about-project p{
    font-family: 'ProximaReg',sans-serif;
    font-size: 21px;
}
.project-company h4{
    padding-bottom: 20px;
    font-size: 26px;
    font-family: 'ProximaSemiBold',sans-serif;
}
.about-project{
    border-bottom: 2px solid #e5e5e5;
    box-sizing: border-box;
}
.about-project .project-company{
    width: 34%;
    border-right: 2px solid #e5e5e5;
}
.about-project .project-short-decription{
    width: 22%;
    padding: 0 55px;
    text-align: right;
    margin-top: 180px;
}
.about-project .project-decription{
    padding-right: 144px;
    width: 44%;
}
.project-company,
.project-short-decription,
.project-decription{
    float: left;
}
.project-company > div{
    padding: 45px 55px;
    padding-bottom: 0;
}
.project-company .button-follow,
.project-decription .button-follow{
    display: table;
    padding-top: 45px;
    padding-bottom: 55px;
}
.project-short-decription ul{
    list-style: none;
}
.project-short-decription ul li{
    font-family: 'ProximaReg',sans-serif;
}
.project-short-decription ul li:first-child{
    font-family: 'ProximaSemiBold', sans-serif;
}
.project-short-decription ul li:last-child{
    margin-bottom: 25px;
}
.project-decription h2{
    font-family: 'PT Serif', serif;
    font-size: 34px;
    margin-top: 80px;
}
.project-decription h3{
    font-family: 'ProximaSemiBold',sans-serif;
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 25px;
    color: #1BCA8D;
}
.project-decription p{
    margin-top: 25px;
}
.post-description a{
    overflow: hidden;
}
.post-description h5{
    max-height: 44px;
}
.more-header h3{
    margin-bottom: -15px;
    padding-top: 42px;
    font-size: 55px;
    font-family: 'PT Serif', serif;
}
/*Slider*/
.project-carusel{
    margin-bottom: 3px;
}
.project-carusel .owl-carousel.loop img{
    height: 800px;
}
header .project-carusel img{
    width: auto;
}
.menu-carousel{
    position: absolute;
    width: calc(100% - 110px);
    margin: 0 auto;
    z-index: 20;
    left:55px;
}

/*Multilang*/
.language{
    float: right;
    border: 2px solid white;
    height: 93px;
    width: 93px;
    font-family: 'ProximaSemiBold',sans-serif;
    background: #263248;
    color: #e6e6e6;

}
.language div.lang {
    text-align: center;
    line-height: 91px;
    text-transform: uppercase;
    font-size: 26px;
    cursor: pointer;
}
.language .chose-lang{
    text-align: center;
    background-color: #e6e6e6;
    padding: 10px 0;
    display: none;
}
.language .chose-lang.active{
    display: block;
    border: 2px solid white;
    left: -2px;
    position: relative;
    width: calc(100% + 2px);
}
.language .chose-lang a{
    padding: 0 5px;
    font-family: 'ProximaSemiBold';
    text-decoration: none;
    color: #263248;
}
.language .chose-lang a:hover{
    color: #19cb8d;
}

/*Social*/
.social-menu a{
    margin-right: 13px;
    display: inline-block;
    position: relative;
    /*overflow: hidden;*/
}
.social-menu a:hover{
    /*transform: scale(1.1);*/
}
.social-menu a:hover div{
    transform: rotate(45deg);
}
.social-menu a div{
    background: #e6e6e6;
    display: block;
    float: left;
    position: absolute;
    border: 2px solid white;
    height: 100%;
    width: 100%;
}

.social-menu img{
    height: 89px;
    padding: 16px;
    width: 89px;
    color: white;
    position: relative;
}
.social-menu {
    position: absolute;
    top: 55px;
    left: 55px;
}
.pb-55{
    padding-bottom: 55px;
}
.pb-68{
    padding-bottom: 68px;
}

/*
  |**********************************
  |           Gallery
  |**********************************
*/

.gallery{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 500;
    display: none;
}
.gallery-slide{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.gallery .gallery-bg{
    position: relative;
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
}
.gallery .gallery-img{
    text-align: center;
    width: 100%;
    padding: 55px;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
}
.gallery .gallery-img img{
    /*height: auto;*/
    width: auto;
    /* width: 100%; */
    /* margin-top: 30px; */
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
}
.gallery-nav{
    bottom: 0;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 40;
}
.gallery-prev,
.gallery-next{
    position: absolute;
    width: auto;
    cursor: pointer;
    top: 50%;
    margin-top: -46px;
}
.gallery-prev img,
.gallery-next img{
    opacity: 0.21;
    height: 68px;
    width: auto
}
.gallery-prev img:hover,
.gallery-next img:hover{
    opacity: 1;
    /*background: rgba(255, 255, 255, 0.15);*/
}
.gallery-prev:hover img{
    transform: scale(1.05) rotate(180deg);
}
.gallery-next:hover img{
    transform: scale(1.05);
}
.gallery-prev{
    left: 55px;
}
.gallery-prev img{
    /*margin-left: 55px ;*/
    transform: rotate(180deg);
}
.gallery-next img{
    /*margin-left: 55px;*/
}
.gallery-next{
    right: 55px;
}
.gallery-nav img{
    position: relative;
    top: 50%;
    margin-top: -46px;
    width: 64px;
}
.gallery-close {
    z-index: 50;
    top: 55px;
    position: absolute;
    right: 55px;
    width: 92px;
    height: 92px;
    border: 2px solid #ffffff;
    cursor: pointer;
}
.close-icon{
    padding: 23px;
    height: 90px;
    width: 90px;
}
.close-icon:hover{
    transform: rotate(90deg);
}


@media screen and (max-width: 1600px){
    .gallery-prev img, .gallery-next img{
        height: 68px;
    }
    .padding-0-55,
    .about-project .project-short-decription{
        padding: 0 42px;
    }
    .menu-carousel{
        left: 42px;
        width: calc(100% - 84px);
    }
    header section{
        padding-top: 42px !important;
    }
    .post.col-3{
        width: calc((100% - 32px)/3);
        margin-top: 42px;
    }
    .post.col-3:nth-child(3n+2){
        margin: 42px 16px 0;
    }
    .post-description h5,
    .project-decription h2{
        font-size: 26px;
    }
    .owl-controls .owl-nav .owl-prev{
        left: 42px;
    }
    .owl-controls .owl-nav .owl-next{
        right: 42px;
    }
    .post-description h5{
        max-height: 34px;
    }
    .post-description h6,
    .project-decription h3,
    .project-decription p,
    .about-project .project-short-decription,
    .about-project,
    .about-project p,
    .architects-decription p{
        font-size: 16px;
    }
    .about-project .project-decription{
        padding-right: 110px;
    }
    .project-decription p{
        margin-top: 21px;
    }
    .post-description p{
        font-size: 16px;
        margin-top: 18px;
        height: 60px;
    }
    .about-project .project-short-decription{
        margin-top: 139px;
    }
    .project-decription h2{
        margin-top: 60px;
    }
    .post-description{
        padding: 26px 26px 34px 26px;
    }
    .more-header h3{
        padding-top: 20px;
        font-size: 42px;
    }
    section.pagination{
        margin: 110px auto;
    }
    header img{
        width: 68px;
    }
    .language{
        height: 68px;
        width: 70px;
    }
    .language div.lang{
        line-height: 64px;
        font-size: 21px;
    }
    .social-menu img{
        height: 68px;
        width: 68px;
    }
    .social-menu{
        top:42px;
        left:42px;
    }
    .language .chose-lang{
        padding: 5px 0;
    }
    .chose-lang a{
        font-size: 14px;
    }
    .architects-decription,
    .architects-contact{
        padding: 40px 42px;
        font-size: 16px;
        /*height: 286px;*/
        min-height: 284px;
    }
    .about-company img{
        height: 284px;
    }
    .about-company{
        height: auto;
        /*height: 288px;*/
    }

    /*.architects-decription p{*/
        /*max-height: 200px;*/
    /*}*/
    .architecture-company {
        padding: 34px 42px;
    }
    .company-header h3{
        font-size: 26px;
    }
    .company-header h4{
        font-size: 16px;
    }
    .button-follow a{
        font-size: 16px;
        padding: 0 26px;
        line-height: 42px;
        display: table;
    }
    section.more-projects{
        padding-bottom: 110px;
    }
    .project-company > div{
        padding: 32px 42px;
    }
    .menu-trigger{
        height: 34px;
        width: 34px;
        margin: 15px;
    }
    .slide-burger-menu .menu{
        padding: 42px;
    }
    .slide-burger-menu ul li{
        margin-top:42px;
    }
    .slide-burger-menu ul li:first-child{
        margin-top: 136px;
    }
    .slide-burger-menu ul li a{
        font-size: 26px;
    }
    .slide-burger-menu .button-follow a{
        margin: 42px auto 0;
        line-height: 55px;
        font-size: 26px;
    }
    .burger-menu.active{
        top: 42px;
        right: 42px;
    }
    .pb-55{
        padding-bottom: 42px;
    }
    .pb-68{
        padding-bottom: 55px;
    }


}
@media screen and (max-width: 1024px){
    .gallery-prev img, .gallery-next img{
        height: 55px;
    }
    header img{
        width: 55px;
    }
    .padding-0-55{
        padding: 0 34px;
    }
    .social-menu img{
        height: 55px;
        width: 55px;
    }
    .social-menu{
        top:34px;
        left:34px;
    }
    .more-header h3 {
        margin-bottom: -10px;
        padding-top: 15px;
        font-size: 34px;
    }
    .about-project .project-company{
        width: 65%;
        height: auto !important;
    }
    .about-project .project-short-decription{
        width: 35%;
    }
    .project-decription h2{
        margin-top: 0;
    }
    .project-company .button-follow,
    .project-decription .button-follow{
        padding-top: 32px;
        padding-bottom: 0;
    }
    .about-project .project-decription{
        width: 100%;
        padding: 34px;
        border-top: 2px solid #e5e5e5;
    }
    header section{
        padding-top: 34px !important;
    }
    .post.col-3{
        width: calc((100% - 10px)/2);
        margin: 0;
        margin-top: 34px;
    }
    .post.col-3:nth-child(even){
        margin:0;
        margin-top: 34px;
        margin-left: 10px !important;
    }
    .post.col-3:nth-child(3n+2){
        margin: 0;
        margin-top: 34px;
    }
    section.pagination{
        margin: 89px auto;
    }
    .post-description p{
        display: none;
    }
    .architects-img,
    .architects-contact{
        width: 50%;
        float: left;
        min-height: 50px;
    }
    .architects-img{
        border-right: 2px solid #e5e5e5;
    }
    .architects-decription{
        width: 100%;
        border-right: none;
        border-bottom: none;
        border-top: 2px solid #e5e5e5;
        height: auto;
        min-height: 178px;
    }
    /*.architects-decription p{*/
        /*max-height: 140px;*/
    /*}*/
    section.more-projects{
        padding-bottom: 89px;
    }
    .slide-burger-menu .menu{
        padding: 34px;
    }
    .burger-menu.active{
        top:34px;
        right: 34px;
    }
    .menu-trigger{
        height: 21px;
        width: 21px;
    }
    .slide-burger-menu.active{
        width: 50%;
    }
    .language{
        height: 55px;
        width: 57px;
    }
    .language div.lang{
        line-height: 51px;
        font-size: 16px;
    }
    .language .chose-lang{
        z-index: 80;
        position: relative;
    }
    .pb-55{
        padding-bottom: 34px;
    }
    .pb-68{
        padding-bottom: 42px;
    }
}
@media screen and (max-width: 768px){
    .gallery-prev img, .gallery-next img{
        height: 34px;
    }
    .gallery .gallery-img{
        padding: 10px;
    }
    .gallery-next.gal-ar img{
        float: right;
    }
    .gallery-close{
        top: 16px;
        right: 16px;
        width: 55px;
        height: 55px;
    }
    .close-icon {
        padding: 10px;
        height: 53px;
        width: 53px;
    }
    .gallery-nav img{
        width: 42px;
        margin-left: 0;
    }

    header section {
        padding-top: 26px !important;
    }
    .padding-0-55{
        padding: 0 26px;
    }
    .owl-controls .owl-nav .owl-next{
        right: 26px;
    }
    .owl-controls .owl-nav .owl-prev{
        left: 26px;
    }
    .owl-controls .owl-nav .owl-prev, .owl-controls .owl-nav .owl-next{
        height: 34px;
        width: 34px;
    }
    .post.col-3{
        width: 100%;
        margin: 0;
        margin-top: 34px;
    }
    .post.col-3:nth-child(3n+2){
        margin: 0;
        margin-top: 34px;
    }
    .post.col-3:nth-child(even){
        margin:0;
        margin-top: 34px;
        margin-left: 0 !important;
    }
    section.pagination{
        margin: 68px auto;
    }
    button.main-pagination{
    font-size: 16px;
    line-height: 42px;
    width: 42px;
    }
    section.more-projects{
        padding-bottom: 68px;
    }
    .about-project .project-company{
        width: 100%;
        border-right: none;
    }
    .about-project .project-short-decription{
        width: 100%;
        border-top: 2px solid #e5e5e5;
        margin-top: 0;
        padding: 26px;
    }
    .project-company > div{
        padding: 26px 32px;
    }
    .more-header h3 {
        font-size: 26px;
    }
    .about-project .project-decription{
        padding: 26px;
    }
    .burger-menu.active{
        top: 26px;
        right: 26px;
    }
    header img {
        width: 42px;
    }
    .language div.lang {
        line-height: 39px;
    }
    .menu-trigger {
        height: 16px;
        width: 16px;
    }
    .menu-trigger {
        margin: 11px;
    }
    .language {
        height: 42px;
        width: 44px;
    }
    .project-short-decription ul{
        float: left;
        width: 50%;
        text-align: left;
    }
    .pb-55{
        padding-bottom: 26px;
    }
    .pb-68{
        padding-bottom: 34px;
    }
}
@media screen and (max-width: 520px){
    .gallery-prev, .gallery-next{
        width: 120px;
    }
    .architects-img, .architects-contact{
        width: 100%;
        border-right: none;
    }
    .architects-contact{
        height: auto;
        border-top: 2px solid #e5e5e5;
    }
    .architecture-company .button-follow{
        float: left;
        margin-top: 13px;
    }
    .project-short-decription ul,
    .slide-burger-menu.active{
        width: 100%;
    }
    .slide-burger-menu ul li a{
        font-size: 21px;
    }
    .slide-burger-menu ul li{
        margin-top: 34px;
    }
    .slide-burger-menu ul li:first-child{
        margin-top: 110px;
    }
    .slide-burger-menu .button-follow a{
        line-height: 42px;
        font-size: 21px;
    }

}

.social-menu,
div.add-project,
div.follow,
div.save-project,
.button-follow.follow{
    display: none;
}

.add-more-projects div.follow,
.add-more-projects-studio div.follow{
    display: table;
    margin: 26px auto;
    cursor: pointer;
}

